In [31]:
# Pthon problam solving

In [32]:
n = 5
for i in range(n): #line
    for j in range(i): #*
        print("*",end=" ")
    print()

*
* *
* * *
* * * *

In [33]:
for i in range(6):
    if i % 2 != 0:
        for j in range(i):
            print("*",end=' ')
        print()

*
* * *
* * * * *

In [34]:
for i in range(5,0,-1):
    for j in range(i):
        print("*",end=' ')
    print()

* * * * *
* * * *
* * *
* *
*

In [35]:
n = 5
for i in range(n,0,-1):
    s = i-1
    for j in range(i):
        print('*',end=" ")
    print()
    for k in range(n-s):
        print(' ',end=' ')

* * * * *
  * * * *
    * * *
      * *
        *

In [36]:
n = 5
for i in range(1,n+1):
    for k in range(0,n-i):
        print(' ',end='')
    for j in range(1,i+1):
        print("* ",end='')
    print()

    *
   * *
  * * *
 * * * *
* * * * *

In [37]:
n = 5

for i in range(n,0,-1):
    for k in range(0,n-i):
        print(' ',end='')
    for j in range(i):
        print('* ',end='')
    print()

* * * * *
 * * * *
  * * *
   * *
    *

In [38]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [39]:
for i in range(0,6):
    s = i-1
    for j in range(1,i+1):
        print(j,end='')
    print()
    for k in range(1,6-s):
        print(' ',end='')

      1
     12
    123
   1234
  12345

In [40]:
for i in range(1,6):
    for k in range(5-i):
        print(' ',end='')
    for j in range(1,i+1):
        print(j,end=' ')
    print()

    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5

In [41]:
for i in range(1,6):
    for k in range(5-i):
        print(' ',end='')
    for j in range(1,i+1):
        print(i,end=' ')
    print()

    1
   2 2
  3 3 3
 4 4 4 4
5 5 5 5 5

In [42]:
for i in range(1,6):
    for j in range(1,6):
        print(i,end='')
    print()

11111
22222
33333
44444
55555

In [43]:
for i in range(1,5):
    print(str(i)*5)

11111
22222
33333
44444

In [44]:
for i in range(1,6):
    for j in range(1,6):
        if i == j:
            print(0,end=' ')
        else:
            print(i,end=' ')
    print()

0 1 1 1 1
2 0 2 2 2
3 3 0 3 3
4 4 4 0 4
5 5 5 5 0

In [45]:
for i in range(0,6):
    s = i - 1
    for j in range(1,i):
        print(j,end='')
    print()
    for k in range(6-s):
        print(" ",end='')

      1
     12
    123
   1234

In [46]:
for i in range(0,6):
    s = i - 1
    for j in range(0,i):
        print(i,end='')
    print()
    for k in range(6-s):
        print(" ",end='')

       1
      22
     333
    4444
   55555

In [47]:
for i in range(6,0,-1):
    s = i - 1
    for j in range(0,i):
        print(i,end='')
    print()
    for k in range(6-s):
        print(" ",end='')

666666
 55555
  4444
   333
    22
     1

In [48]:
for i in range(6,0,-1):
    s = i - 1
    for j in range(1,i):
        print(j,end='')
    print()
    for k in range(6-s):
        print(" ",end='')

12345
 1234
  123
   12
    1

In [49]:
for i in range(1,6):
    if i % 2 !=0:
        for k in range(6-i):
            print(" ",end='')
        for j in range(i):
            print('*',end=' ')
        print()

     *
   * * *
 * * * * *

In [50]:
for i in range(1,6):
    for k in range(6-i):
        print(' ',end = '')
    for j in range(1,i+1):
        print(j,end=' ')
    print()

     1
    1 2
   1 2 3
  1 2 3 4
 1 2 3 4 5

In [51]:
for i in range(1,6):
    for k in range(6-i):
        print(' ',end = '')
    for j in range(1,i+1):
        print(i,end=' ')
    print()

     1
    2 2
   3 3 3
  4 4 4 4
 5 5 5 5 5

In [52]:
for i in range(1,6):
    for j in range(i):
        print("*",end=' ')
    print()
for i in range(6,0,-1):
    for j in range(i):
        print("*",end=' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [53]:
# Upper half of the pattern
for i in range(1, 6):
    print(" " * (5 - i) + "*" * i)

# Lower half of the pattern
for i in range(4, 0, -1):
    print(" " * (5 - i) + "*" * i)

    *
   **
  ***
 ****
*****
 ****
  ***
   **
    *